
body{
    color: #939393 !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: black !important;
}

a{
    color: #e8e8e8 !important;
    text-decoration: none !important;
}

a:hover{
    color: #e64141 ;
    text-decoration: none ;
}

/*Top Contact Header styles*/
.topContactHeader{
    background-color: red;
    padding-top: 4px;
    padding-bottom: 8px;
    color: black;
}

.afterIcon{
    display: inline;
}

.socialIcons {
   text-align: right;
}

.socialIcons i{
    color: black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #000;
    border-radius: 5px;   
	width: 25px;
}

.topLogoNav{
    padding-top: 12px;
}

.topNav{
    text-align: center;
    background-color: red;
    margin-left: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.topNav li{
    display: inline;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.topNav li:hover{
    background-color:black;
    border-radius: 5px;
    border: 1px solid black;
}

.topLogo {
    padding-right: 50px;
    border-radius: 50%;
}

.footer{
    margin-top: 50px;
    padding-top: 4px;
    background-color: red;
    color: black;    
    text-align: center !important;
}

td {
    vertical-align: top;
}

td.right {
    text-align: right;
    width: 30%;
}