html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* this part is also necessary to allow that to happen*/
}

.main-content {
    height: 100vh;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.3);
    /* this makes the height of our <main> tag span the whole height of the window*/
}

h1 {
    color: #DFDAAB;
    /* since in this line we're making the text be the same color as the background, it wont show*/
    margin-left: 80%;
    padding-top: 8%;

}

h2 {
    color: #DFDAAB;
    /* Let's make it another color*/
    padding-left: 10%;
    padding-top: auto;

}


body {
    background-color: #491000;
    background-image: url(images/coffee_cups.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    display: flex;
}


li a {
    display: block;
    padding: 8px;
}

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

#logo {
    display: none;
}

nav {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    padding: 10px 20px;
    transition: background-color 0.3 ease;
}



nav a:hover {
    color: #883E24;

}

label {
    color: white;
    font-size: 12px;

}



/* let's play with the layout here */
.header,
.banner,
.buttons {
    height: 33vh;
}




@media (max-width: 768px) {

    /* Mobile styles */

    nav ul {

        display: block;
        /* Stack the items vertically */
        width: 70%;
        padding: 10%;
        font-size: 12px;

    }

}

@media (min-width: 769px) {

    /* Desktop styles */
    nav ul {
        display: flex;
        /* Align items horizontally */
        list-style: none;
        padding: 0%;

    }

}